<div class="team">
  <h3>Team Name: <%= @team.name %></h3><br>
  <h4>Mott: <%= @team.motto %></h4><br>

</div><br>
<h3>Hero Name: <%= @members.first.name %></h3><br>
<h4>Hero Power: <%= @members.first.power %></h4><br>
<h4>Hero Biography: <%= @members.first.biography %></h4>


<h3>Hero Name: <%= @members[1].name %></h3><br>
<h4>Hero Power: <%= @members[1].power %></h4><br>
<h4>Hero Biography: <%= @members[1].biography %></h4>

<h3>Hero Name: <%= @members[2].name %></h3><br>
<h4>Hero Power: <%= @members[2].power %></h4><br>
<h4>Hero Biography: <%= @members[2].biography %></h4>
